 * {
    font-family: Helvetica;
 }

 header{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki
}


.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
h3{
    font-family: Helvetica;
}

strong{
    font-family: Helvetica;
font-weight: bold;
color: blue;
}


#banner-image{
    width: 100%;
    background-image: url(/Users/mgriffith/Documents/GitHub/magic-mal/Coding/Dasmotos-arts-n-crafts/image1.jpeg);
    height: 405px;
    background-position: center;
}

.container {
  position: relative;
  text-align: center;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.brushes{
    background-color: mediumspringgreen ;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.frames{
    background-color: lightcoral ;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.paint{
    background-color: lightskyblue ;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}


